.navbar {
    background-color: #7db4b5;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a.logout {
    margin-left: auto;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
body{
    background-color: #e0eff1;
	font-weight: bold;
    
}